/*styles.css */

* {
    font-family:Arial, sans-serif, monospace;
    background-color: black;
    color: white;
}

.testClass{
    font-size: 100px;
}

.unorderedList{
    color:blue;
    font-size:20px;
    font-variant: small-caps;
    line-height: 2;
}

.unorderList,
.ulID {
    color:red;
    font-style: italic;
}

ul li{
    font-weight: bold;
}

img{
    height:300px;
    width: auto;
}

.cake-recipe{
    color:red;
    font-size:30px;
}